.App {
}
.container-col {
  display: flex;
  flex-direction: column;
}
.container-row {
  display: flex;
  flex-direction: row;
}

.container-items-center {
  align-items: center;
  justify-items: center;
}
.container-content-center {
  align-content: center;
  justify-content: center;
}
